.principalDiv{
  align-items: center;
}
.navbar{
  display: flex;
  flex-direction: row;
  background-color: rgba(105, 165, 144, 0.416);
  margin-top: 0px;
  justify-content: space-between;
  align-items: center;
  padding-inline: 45px;
}

.logout{
  margin-right: 800px;
  
}
.logoutButton{
  color: black;
  background-color: transparent;
}
.logoutButton:hover{
  text-decoration:underline;
  cursor: pointer;
}